---
interface Props {
  files: { name: string; active: boolean; icon: string; href?: string }[];
}

const { files } = Astro.props;
---

<aside
  class="w-64 bg-[#0d1117] border-r border-gray-800 flex-col hidden lg:flex transition-colors duration-300"
>
  <div
    class="p-3 text-xs font-bold text-gray-400 uppercase tracking-wider"
  >
    Explorer
  </div>
  <div class="px-2">
    <div
      class="flex items-center gap-1 text-sm font-bold text-gray-200 mb-1 cursor-pointer"
    >
      <span class="transform rotate-90">›</span> PORTFOLIO-V2
    </div>
    <div class="pl-4 flex flex-col gap-1">
      {
        files.map((file) =>
          file.href ? (
            <a
              href={import.meta.env.BASE_URL + file.href}
              class={`flex items-center gap-2 px-2 py-1 rounded cursor-pointer text-sm transition-colors duration-200 ${file.active ? "bg-[#1f2428] text-white shadow-sm" : "text-gray-400 hover:bg-[#1f2428] hover:text-white"}`}
            >
              <span>{file.icon}</span>
              <span>{file.name}</span>
            </a>
          ) : (
            <div
              class={`flex items-center gap-2 px-2 py-1 rounded cursor-pointer text-sm transition-colors duration-200 ${file.active ? "bg-[#1f2428] text-white shadow-sm" : "text-gray-400 hover:bg-[#1f2428] hover:text-white"}`}
              data-file={file.name}
            >
              <span>{file.icon}</span>
              <span>{file.name}</span>
            </div>
          ),
        )
      }
    </div>
  </div>
</aside>
